html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: Helvetica;
}

h1, h3 {
  font-weight: bold;
  text-transform: uppercase;
}

header {
  width: 100%;
  background-color: black;
}

header .container {
  padding: 0.66rem 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.logo span {
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.hero {
  background-image: url('../images/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.main-message {
  background-color: black;
  padding: 2rem 3rem;
  max-width: 20rem;
  width: 20rem;
  position: relative;
  top: 9rem;
}

.main-message h3 {
  font-size: 1rem;
  color: white;
}

.main-message h1 {
  color: white;
  font-size: 2rem;
  padding-top: 0.25rem;
}

.navigation {
  background-color: firebrick;
  width: 100%;
}

.navigation nav {
  display: flex;
  justify-content: space-between;
}

.navigation nav span {
  padding: 0.75rem 0;
  display: inline-block;
  color: white;
}

.main {
  margin-bottom: 4rem;
}

.featured-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.featured-product {
  width: 30%;
}

.product-image {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 8em;
}

.featured-product h2 {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

.additional-info {
  display: flex;
  justify-content: space-between;
}

.location, .hours {
  width: 35%;
}

.location h2, .hours h2 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  text-align: left;
}

.location span, .hours span {
  padding-top: 0.5rem;
  display: inline-block;
}

footer {
  background-color: black;
}

.copyright {
  padding: 5rem 0;
}

 .copyright span {
   color: white;
   text-align: left;
 }

 @media screen and (max-width: 1024px) {

 }
